.background-image {
    background-image: url('/assets/bg.jpg');
    background-size: cover;
    height: 100vh;
}

.content-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    font-size: 36px;
    font-weight: bold;
}

.content-overlay h1 {
    color: white; 
    font-size: 40px; 
    font-weight: bold; 
}

.content-overlay h3 {
    color: white; 
    font-size: 30px; 
    font-weight: bold; 
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:transparent;
    padding: 10px 20px;
    z-index: 1000
}
.navbar .app-name {
    display: flex;
    align-items: center;
    color: white;
    font-size: 1.5em;
}
.navbar .app-name img {
    height: 40px; 
    margin-right: 10px;
    vertical-align: middle; 
}
.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}
.navbar ul li {
    margin-left: 20px;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
    padding: 8px 12px;
}
.navbar ul li a:hover {
    background-color:  #daa520;
    border-radius: 4px;
}
  
.about-container {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
}

.about-content {
    flex: 1;
}

.about-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.about-text {
    margin-right: 40px; /* Adjust as needed */
}

.about-image {
    width: 30%; /* Adjust the width of the image container */
    margin-left: 20px;
    margin-right: 60px; /* Adjust the margin to create space between content and image */

}

.about-image img {
    max-width: 170%; /* Adjusted to fit within the container */
    height: auto;
    border-radius: 8px;
}


.contact-container {
    display: flex;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 50px;
  }
  
  .contact-content {
    flex: 1;
  }
  
  .contact-content h2 {
    font-size: 28px;
    margin-bottom: 20px;
    color: black; /* Dark gray */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #4d4d4d; /* Dark gray */
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .form-group textarea {
    resize: vertical;
  }
  
  button[type="contact"] {
    background-color: #daa520;
    color: #4d4d4d; /* Dark gray */
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="contact"]:hover {
    background-color: #be952c; 
  } 
  
  .footer {
    background-color: #2a2a2b;
    padding: 20px 0;
    color: white;
  }
  
  .footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .footer-section {
    flex: 1;
  }
  
  .footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .footer-section p {
    margin: 0;
  }
  
  .social-media-icons {
    display: flex;
  }
  
  .social-media-icons a {
    margin-right: 10px;
    color: #4d4d4d;
  }
  
  .social-media-icons a:last-child {
    margin-right: 0;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
  }
  
  .footer-bottom p {
    margin: 0;
    color: #faf5f5;
  }
  


  /* arts********************************** */

.arts h1{
    font-size:28px;
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.blog h1{
    font-size:28px;
    text-align: left;
    margin-bottom: 25px;
    font-weight: 500;
}

  .gallery-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.art-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    max-width: 300px;
    overflow: hidden;
    text-align: center;
    transition: transform 0.2s;
    width: 100%;
}

.art-card:hover {
    transform: translateY(-10px);
}

.art-card img {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.art-details {
    padding: 15px;
}

.art-details h2 {
    font-size: 1.5em;
    margin: 0 0 10px 0;
}

.art-details h4 {
    color: #555;
    font-size: 1em;
    margin: 0 0 15px 0;
}

.art-details p {
    color: #777;
    font-size: 0.9em;
    margin: 0;
}



/* blog-post************************************* */
.blog-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.blog-post {
    display: flex;
    margin-bottom: 40px;
}

.blog-image {
    width: 200px; /* Adjust width as needed */
    height: auto;
    margin-right: 20px; /* Adjust margin as needed */
}

.blog-content {
    flex: 1;
}

.blog-post h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.blog-post p {
    color: #888;
    margin-bottom: 10px;
}

.blog-post em {
    font-style: italic;
}
