.product-container {
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  margin-bottom: 20px;
}

.product-image {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.product-image img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.product-details {
  flex: 1;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.product-details h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #333;
}

.product-details p {
  margin: 5px 0;
  color: #555;
}

.product-price {
  font-size: 28px;
  color: #e60000;
}

.product-details strong {
  color: #333;
}

.rating {
  color: #ffcc00;
}

.product-details ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.product-details li {
  margin: 5px 0;
}

.product-colors {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.color-options {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.color-circle {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
  transition: border 0.3s;
}

.color-circle.selected {
  border: 3px solid #4a4e69; /* Make border thicker */
}

.product-sizes {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.size-options {
  display: flex;
  gap: 10px;
  margin-left: 10px;
}

.size-box {
  width: 30px;
  height: 30px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border 0.3s, color 0.3s; /* Transition color changes */
}

.size-box.selected {
  border-color:#4a4e69; /* Change border color */
  color:#4a4e69; /* Change text color */
}

.customer-review {
  border-top: 1px solid #ddd;
  padding-top: 10px;
  margin-top: 10px;
}

.customer-review p {
  margin: 5px 0;
}

.add-to-cart-button {
  background-color: #4a4e69;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  align-self: flex-start;
  margin-top: 10px;
}

.add-to-cart-button:hover {
  background-color: #878aa0;
}
