<p>productdet works!</p>
<table>
    <thead>
        <tr>
            <td>Title</td>
            <td>Price</td>
            <td>Brand</td> 
            <td>Category</td>     
            <td>Stock</td>       
            <td>Images</td>   
        </tr>
    </thead>
    <tbody>
        @for(product of productdata; track product){
            <tr>
                <td>{{product.title}}</td>
                <td>{{product.price}}</td>
                <td>{{product.brand}}</td>
                <td>{{product.category}}</td>
                <td>{{product.stock}}</td>
                @for(images of product.images; track images){
                    <td>
                        <img [src]="images"/>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>